.mx-auto.w-full.md:w-2/3
  %h1.font-bold.text-4xl Editing role
  = render "form", role: @role
  = link_to "Show this role", [:admin, @role], class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
  = link_to "Back to roles", admin_roles_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
